:root{
    --primary-color:#58FAAE;
    --secondary-color:#70B5FF;
    --secondary-color_dark: #3AB1DE;
    --main-color:#37F2FA;
    --text-color_dark:rgba(42, 29, 116, 0.7);
    --text-color_light: rgb(102, 88, 173, 0.7);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
htm,
body{
    font-family: 'Poppins', sans-serif;   
    overflow-x: hidden; 
    font-size: 0.67em;
    overflow: hidden;
}
h3{
    margin: 7px 0px;
    color:var(--text-color_dark);
}
.back-layer{
    background-image: linear-gradient(to bottom left,var(--primary-color), var(--secondary-color));
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.back-layer__circle{
    border-top: 5px solid rgba(255,255,255,0.4);
    border-left: 5px solid rgba(255,255,255,0.4);   
    width: 600px;
    height:600px;
    background-image: linear-gradient(to bottom, var(--primary-color) , var(--secondary-color_dark)80%);
    opacity: 0.5;
    filter: blur(25px);
    border-radius:50%;
    -webkit-filter: blur(25px);
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.back-layer__circle--left{
    position: absolute;
    top:-100px;
    left: -100px;
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
}
.back-layer__circle--right{
    position: absolute;
    right: -100px;
    bottom: -100px;
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
}
.glass-circle{
    width: 300px;
    height: 300px;
    background-image: linear-gradient(to bottom right,rgba(255,255,255, 0.9), rgba(255,255,255, 0.2)50%);
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.glass-circle--left{
    position: absolute;
    left: 5%;
    bottom: 3%;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.glass-circle--right{
    position: absolute;
    right: 5%;
    top: 3%;
}
.glass-layer{
    display:flex;
    overflow: hidden;
    background-image: linear-gradient(to bottom right,rgba(255,255,255, 0.7), rgba(255,255,255,0.2)30%);
    backdrop-filter: blur(28px);border-top: 5px solid rgba(255,255,255,0.4);
    border-left: 5px solid rgba(255,255,255,0.4);
    border-radius: 30px;
    width: 66%;
    height: 80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
}

.glass-layer__menu{
    width: 25%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgba(255,255,255, 0.7), rgba(255,255,255, 0.4)30%);
    object-fit: cover;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.glass-layer__img--user{
    width: 70px;
    height: 70px;
    border-radius:50%;
    display: block;
    margin:auto;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.glass-layer__p{
    color:var(--text-color_light);
    font-weight:bold;    
}
.glass-layer__platform{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
}
.glass-layer__img--platform{
    width: 24px;
    height: 24px;
    opacity: 0.7;
}
.glass-layer__intro{
    width: 180px;
    height: 120px;
    background-image: linear-gradient(to bottom left,var(--primary-color), var(--secondary-color)60%);
    margin: 0 auto;
    display: flex;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
}
.glass-layer__h3--intro{
    width: 45%;
    padding:25px 10px;
    color: aliceblue;
    font-weight: bolder;
}
.glass-layer__img--intro{
    width: 50%;
    height: auto;
}
.glass-layer__description{
    width: 75%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1{
    font-size:xx-large;
    color: var(--text-color_dark);
}
.glass-layer__input--search{
    font-size: large;
    color: var(--text-color_dark);
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(to bottom right,rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.1)40%);
    outline: none;
    border: none;
    border-top: 5px solid rgba(255,255,255,0.4);
    border-left: 5px solid rgba(255,255,255,0.4);
    background-image: url("./images/iconmonstr-magnifier-4-48.png");
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
.glass-layer__input--search::placeholder{
    color: var(--text-color_light);
    font-size: small;
}
.glass-layer__item{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3), rgba(255,255,255, 1));
    opacity: 0.9;
    margin: 10px 0px;
    filter:drop-shadow(var(--text-color_light) 5px 5px 5px);
    border-top: 5px solid rgba(255,255,255,0.4);
    border-left: 5px solid rgba(255,255,255,0.4);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-filter:drop-shadow(var(--text-color_light) 5px 5px 5px);
}
.glass-layer__img--item{
    width: 100px;
    height: 70px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}